#!/usr/bin/fish

# Runs the unit tests on another host.  Required because our tests need to
# run as root, and you probably don't want to do that on your development
# machine.
#
# To skip slow tests, run this with: --exclude slow:true

set remote "sandlin"

rsync -av --delete --exclude=_build --exclude=.git \
	/home/at/code/erlang/converge \
	/home/at/.mix/depmapper.exs \
	root@$remote:

# Need to rm -rf _build/ or else `mix test` will use stale .beam files
# when the remote's clock is in the future.
and ssh root@$remote "
mkdir -p .mix &&
mv depmapper.exs .mix/ &&
cd converge &&
rm -rf _build/ &&
PATH=/home/at/elixir/bin:\$PATH mix test --trace --color $argv"
