#!/bin/bash

# Runs the unit tests on another host.  Required because our tests need to
# run as root and modify both package and user configuration, so you really
# don't want them running on your development machine.
#
# To skip slow tests, run this with: --exclude slow:true

set -eu -o pipefail

remote=sandlin
elixir=$HOME/opt/elixir
hex=$HOME/code/erlang/hex
converge=$HOME/code/erlang/converge

# Compile on local machine, because we want to
# 1) compile deps/ despite the --no-deps-check used on the test machine,
#    which we use because it doesn't have the source git repositories
# 2) get compilation errors faster
# 3) avoid mix mistakenly not compiling files on the test machine, when
#    its clock is in the future
MIX_ENV=test mix compile

rsync -a --delete --delete-excluded --exclude=.git \
	"$elixir" \
	"$hex" \
	"$converge" \
	root@"$remote":

ssh root@"$remote" "
cd ~/hex &&
PATH=/root/elixir/bin:\$PATH mix install > /dev/null &&
cd ~/converge &&
PATH=/root/elixir/bin:\$PATH mix test --no-elixir-version-check --no-deps-check --no-archives-check --trace --color $@"
